.h-icon {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    .hover:hover {
      transform: scale(1.1);
      transition: 0.3s;
      background-color: #e0613a;
      border-radius: 50%;
    }
    #mainNav ul li a:hover{
      color: #e0613a;
    }
    